#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=AW Connect
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kbaibffplacdjdbiakplecckpajogkjj
Icon=chrome-kbaibffplacdjdbiakplecckpajogkjj-Default
StartupWMClass=crx_kbaibffplacdjdbiakplecckpajogkjj
